        <div class="container">
            <div class="featured-items">
                <div class="featured-item">
                    <div class="featured__selected"></div>
                    <div class="featured__description">
                        <p>Pink Shoe</p>
                        <p>Now at <span>$555.55</span></p>
                    </div>
                </div>
                <div class="featured-item">
                    <div class="featured__selected"></div>
                    <div class="featured__description">
                        <p>Pink Shoe</p>
                        <p>Now at <span>$555.55</span></p>
                    </div>
                </div>
                <div class="featured-item">
                    <div class="featured__selected"></div>
                    <div class="featured__description">
                        <p>Pink Shoe</p>
                        <p>Now at <span>$555.55</span></p>
                    </div>
                </div>
                <div class="featured-item">
                    <div class="featured__selected"></div>
                    <div class="featured__description">
                        <p>Pink Shoe</p>
                        <p>Now at <span>$555.55</span></p>
                    </div>
                </div>
                <div class="featured-item">
                    <div class="featured__selected"></div>
                    <div class="featured__description">
                        <p>Pink Shoe</p>
                        <p>Now at <span>$555.55</span></p>
                    </div>
                </div>
                <div class="featured-item">
                    <div class="featured__selected"></div>
                    <div class="featured__description">
                        <p>Pink Shoe</p>
                        <p>Now at <span>$555.55</span></p>
                    </div>
                </div>
                <div class="featured-item">
                    <div class="featured__selected"></div>
                    <div class="featured__description">
                        <p>Pink Shoe</p>
                        <p>Now at <span>$555.55</span></p>
                    </div>
                </div>
                <div class="featured-item">
                    <div class="featured__selected"></div>
                    <div class="featured__description">
                        <p>Pink Shoe</p>
                        <p>Now at <span>$555.55</span></p>
                    </div>
                </div>
                <div class="featured-item">
                    <div class="featured__selected"></div>
                    <div class="featured__description">
                        <p>Pink Shoe</p>
                        <p>Now at <span>$555.55</span></p>
                    </div>
                </div>
                <div class="featured-item">
                    <div class="featured__selected"></div>
                    <div class="featured__description">
                        <p>Pink Shoe</p>
                        <p>Now at <span>$555.55</span></p>
                    </div>
                </div>
            </div>
        </div>