        <div id="for-small-divices" class="container-fluid d-md-block d-lg-none mt-1">

            <div class="row">
                <div class="col-12">
                    <div class="bg-light container-fluid">
                        <nav class="navbar navbar-light">
                            <div>
                                <span>Logo</span>
                            </div>
                            <div>

                                <span><i class="bi bi-person"></i><strong class="ms-1">Username</strong></span>
                                <span class="ms-3"><i class="bi bi-cart"></i> <strong>0</strong></span>

                                <button class="navbar-toggler ms-3" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarToggleExternalContent"
                                    aria-controls="navbarToggleExternalContent" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                            </div>
                    </div>
                    </nav>
                </div>
            </div>
            <div class="collapse container-fluid bg-light" id="navbarToggleExternalContent">
                <div class="container-fluid">
                    <h5 class="text-dark h4">Collapsed content</h5>
                    <span class="text-muted">Toggleable via the navbar brand.</span>
                </div>
            </div>
            <div class="row mt-3">
                <div class="">
                    <div class="col-12">

                        <div class="input-group">
                            <input type="text" class="form-control">
                            <button class="btn btn-outline-secondary">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header For large Devices -->
        <div class="d-none d-md-none d-lg-block" id="for-large-device">
            <div class="bg-danger">
                <div class="container">
                    <div class="row text-light align-items-center py-1">

                        <div class="col-12 col-sm-4">
                            <span class="logo">Logo</span>
                        </div>
                        <div class="col-12 col-sm-8">
                            <div class="d-flex justify-content-end align-items-center">

                                <div>

                                    <button class="btn no-box-shadow" data-bs-toggle="collapse"
                                        data-bs-target="#dsk-search">
                                        <i class="bi bi-search text-white"></i>
                                    </button>
                                </div>

                                <div id="dsk-search" class="collapse">
                                    <input type="text" class="form-control">
                                </div>
                                <div class="ms-2">
                                    <span>
                                        <a href="" class="text-light">Login</a>
                                        /
                                        <a href="" class="text-light">Register</a>

                                    </span>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-light">
                <div class="container">

                    <div class="row align-items-center">
                        <div class="col-8 px-0">
                            <nav class="navbar-expand navbar-light bg-light">
                                <div class="">

                                    <ul class="navbar-nav">
                                        <li class="nav-item border-start"><a href="" class="nav-link">Home</a></li>
                                        <li class="nav-item border-start"><a href="" class="nav-link">Products</a></li>
                                        <li class="nav-item border-start"><a href="" class="nav-link">About</a></li>
                                        <li class="nav-item border-start"><a href="" class="nav-link">Pages</a></li>
                                        <li class="nav-item border-start"><a href="" class="nav-link">Blogs</a></li>
                                        <li class="nav-item border-start border-end"><a href=""
                                                class="nav-link">Contacts</a></li>
                                    </ul>


                            </nav>

                        </div>
                        <div class="col-4 d-flex flex-row justify-content-end">
                            <div class="border-start px-4 py-4">
                                <span>
                                    <i class="bi bi-star"></i>
                                </span>
                                <span class="badge bg-info">1</span>
                            </div>
                            <div class="px-4 py-4 border-start border-end">
                                <span>
                                    <i class="bi bi-cart"></i>
                                </span>

                                <span class="badge bg-secondary">1</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row"></div>



        </div>

     