<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />

  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body id="home-page">
  <header>

    <!-- Navigation for the small devises -->
    <%= require('html-loader!views/sections/header/_nav-small.html').default %>
      <!-- Navigation for the large devices -->
      <%= require('html-loader!views/sections/header/_nav-large.html').default %>
        <!-- The banner for the Home -->
        <section id="hero" class="hero-bg d-none d-md-none d-lg-block">
          <%= require('html-loader!./views/sections/_banner.html').default %>
        </section>
  </header>
  <!-- The main section -->
  <main>
    <div class="featured mt-2">
      <%= require('html-loader!./views/sections/_featured.html').default %>
    </div>
  </main>
<!-- The footer section  -->
  <footer>
    <%= require('html-loader!views/footer.html').default %>
  </footer>
</body>

</html>